header{
    margin: 30px 0 30px 0;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    box-shadow: 0 4px 4px -2px #adadad;
}

.wrapper{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
}

header button{
    border: none;
    height: 25px;
    background-color: #403F3F;
    color: white;
    font-weight: bold;
}

header img{
    width: 75px;
    margin-right: 25px;
}

header div{
    display: flex;
    align-items: center;
}